apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  repositories: |
    - url: "{{ gitops_repository }}"
      passwordSecret:
        name: seldon-gitea-repo
        key: password
      usernameSecret:
        name: seldon-gitea-repo
        key: username
