apiVersion: v1
kind: Secret
metadata:
  name: seldon-gitea-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  username: "{{ gitops_user }}"
  password: "{{ gitops_password }}"
