apiVersion: v1
kind: Secret
metadata:
  name: "{{ minio_rclone_secret_name }}"
  labels:
    secret-type: bucket
    seldon-deploy: "true"
type: Opaque
stringData:
  RCLONE_CONFIG_MINIO_TYPE: s3
  RCLONE_CONFIG_MINIO_PROVIDER: minio
  RCLONE_CONFIG_MINIO_ENV_AUTH: "false"
  RCLONE_CONFIG_MINIO_ACCESS_KEY_ID: "{{ minio_access_key }}"
  RCLONE_CONFIG_MINIO_SECRET_ACCESS_KEY: "{{ minio_secret_key }}"
  RCLONE_CONFIG_MINIO_ENDPOINT: "http://minio.{{ minio_namespace }}.svc.cluster.local:9000"