apiVersion: v1
kind: Secret
metadata:
  name: "{{ elastic_opendistro_secret_name }}"
type: Opaque
stringData:
  username: "{{ elastic_opendistro_user }}"
  password: "{{ elastic_opendistro_password }}"
