apiVersion: v1
kind: Secret
metadata:
  name: "{{ elastic_opensearch_secret_name }}"
type: Opaque
stringData:
  username: "{{ elastic_opensearch_user }}"
  password: "{{ elastic_opensearch_password }}"

